.main {
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 50px;
  height: 293px;
  background-color: bisque;
}

.header__menu {

}

.header__links-list {
  display: flex;
  column-gap: 30px;
  list-style: circle;
}

.header__links-list-item {
  
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
}

.header__logo-link {
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 240px;
  height: 98px;
}

.header__address {
  justify-self: end;
  align-self: center;
}

.address__list {
  display: flex;
  flex-direction: column;
  font-style: normal;
  list-style: none;
  gap: 5px;
}

.address__list-item-link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  padding: 50px;
  display: flex;
  flex-direction: column;
  min-height: max-content;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center;
}

.overlay {
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
}

.letter-spacing-extended {
  letter-spacing: 30%;
}

.aligned_text {
  color: #FFF;
  font-size: 100px;
  text-transform: uppercase;
}

.aligned-text_left {
  
}

.aligned-text_center {
  align-self: center;
}

.aligned-text_right {
  text-align: right;
}